<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect(404)
} %>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
     </ul>
<% } %>
<h2>Account Management</h2>
<h3>You're logged in.</h3>
