@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Header*/
header {
    font-family: 'Gravitas One', serif;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
#top-header {
    text-decoration-line: none;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.siteName a{
    font-size: 2em;
    margin-left: 20px;
    text-decoration-line: none;
    color: #C1121F;
}
#tools a {
    text-decoration-line: none;
    color: #C1121F;
}
/*Navigation*/
nav {
    background-color: #003049;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav a {
    font-family: 'Raleway', sans-serif;
    color:aliceblue;
    text-decoration: none;
    &:hover {
        color: #669BBC;
    }
}/*Main Content*/
#hero {
    position: relative;
}
#hero-img{
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#hero-text {
    color: #003049;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: justify;
    position: absolute;
    top: 0;
    left: 10%;
}
#own-img {
  width: 70%;
}
.reviews {
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    padding: 20px;
    color: grey;
}
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #003049;
    text-align: center;
    text-decoration: underline;
}
.card h3 {
    margin-top: 0;
}

.card img {
    height: 70px;
    padding: 15px 80px 0px 80px;
    border: 1px solid #780000;
    background-color: #C1121F;
}
#reviews {
    font-size: 1.2em;
}
#reviews li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
h1, h2 {
    font-family: 'Gravitas One', serif;
    color: #780000;
}
p, li {
    font-family: 'Raleway', sans-serif;
    color: #003049;
    line-height: 1.6;
}
#inv-display {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;

    & li {
        margin-bottom: 15px;
        color: #003049;
        border: 1px solid #780000;
        border-radius: 5px;
    }
    & a {
        text-decoration: none;
        color:#003049;
        margin: 0 auto;
    }
    & img {
        display: block;
        margin: 0 auto;
        padding: 5px;
    }
    & h2 {
        margin: 0 auto;
    }
    & span {
        font-weight: bold;
        margin: 0 auto;
    }
}
.item-image img {
    width: 100%;
    height: auto;
    border: 1px solid #780000;
    background-color: #C1121F;
    margin: 0 auto;
    border-radius: 5px;
    display: block;
}
#login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    background-color: #669BBC;
    padding: 20px;
    border-radius: 10px;
    border: #003049 2px solid;
    font-size: 1.5em;
    font-weight: bold;
    color: #003049;
    font-family: 'Gravitas One', serif;
    & input {
        padding: 10px;
        font-size: 1em;
        border-radius: 5px;
        border: 1px solid #780000;
    }
    & button {
        padding: 10px;
        font-size: 1.2em;
        border-radius: 5px;
        border: none;
        background-color: #C1121F;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: #780000;
        }
    }
}
.forms {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    background-color: #669BBC;
    padding: 20px;
    border-radius: 10px;
    border: #003049 2px solid;
    font-size: 1.5em;
    font-weight: bold;
    color: #003049;
    font-family: 'Gravitas One', serif;
    & input {
        padding: 10px;
        font-size: 1em;
        border-radius: 5px;
        border: 1px solid #780000;
        &:invalid {
            border: #C1121F 3px solid;
        }
    }
    & button {
        padding: 10px;
        font-size: 1.2em;
        border-radius: 5px;
        border: none;
        background-color: #C1121F;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: #780000;
        }
    }
}
.psswd-req {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    color: #003049;
    margin-bottom: 10px;
}
#inv_description {
    border-radius: 5px;
    font-size: 1em;
    padding: 10px;
}
#classificationList {
    padding: 25px;
    gap: 10px;
    justify-content: center;
    font-family: Railway, sans-serif;
    font-size: 1.2em;
    width: max-content;
    margin: 0 auto;
    & option {
        color: #003049;
        font-weight: bold;
    }
}
#inventoryDisplay {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #003049;
    & th {
        border: 1px solid #780000;
        padding: 10px;
        background-color: #C1121F;
        color: white;
    }
    & td {
        border: 1px solid #780000;
        padding: 10px;
        text-align: center;
    }
}
@media screen and (min-width: 800px) {
 body{
    background-image: url('/images/site/small_check.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  #wrapper {
    background-color: white;
    border: 4px solid #780000;
    border-radius: 30px;
    width: 85%;
    margin: 0 auto;
    padding: 10px;
  }
  #hero-text {
    font-size: 1.5em;
    top: 5%;
    left: 10%;
  }
  #own-img {
  width: 90%;
  }
  #query {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: max-content 200px;
  }
  .query-grid {
    font-size: 1.5em;
  }
  #item-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .item-image{
    grid-column: 1;
    align-self: center;
  }
  .item-info {
    grid-column: 2;
    font-size: 1.2em;
    & p:nth-child(1), & p:nth-child(4) {
        color: #003049;
        background-color: #669BBC;
        padding: 5px;
        font-size: 1.5em;
        font-weight: bold;

    }
  }

}