<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<p>Use the links below to manage inventory classifications and items or add new ones.</p>

<%# Links to new classification %>
<p><a href="/inv/add-classification">Add New Classification</a></p>
<%# Links to new inventory item %>
<p><a href="/inv/add-inventory">Add New Inventory Item</a></p>
<%# Manage Inventory %>
<h2>Manage Inventory</h2>
<p>Select a classification from the list to see the items belonging to the classification</p>
<%#Display the classification select list %>
<%-classificationList %>
<table id="inventoryDisplay"></table>
<script src="../../js/inventory.js" type="module"></script>